<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS for Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Compiled and minified CSS for Materialize Design -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Task Manager</title>
</head>
<body>
    <!-- Top navbar -->
    <header>
        <nav class="cyan darken-1">
            <div class="nav-wrapper">
              <a href="{{ url_for('home') }}" class="brand-logo">Task Manager</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="">New Task</a></li>
                <li><a href="">Categories</a></li>
              </ul>
            </div>
          </nav>

          <!-- Mobile sidenav -->
          <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="">New Task</a></li>
            <li><a href="">Categories</a></li>
          </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer cyan darken-3">
        <div class="footer-copyright">
            <div class="container">
                Task Manager
            <a class="white-text right" href="https://github.com/vkleer"><i class="fa-brands fa-github"></i> GitHub</a>
            </div>
        </div>
      </footer>

    <!-- Compiled and minified JavaScript for Materialize Design -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>